<%if current_user.admin?|| current_user == @user %>

<h1>Editing user</h1>

<%= render 'form' %>

<%= link_to 'Ver', @user %><%if current_user.admin?%> |

<%= link_to 'Usuarios', users_path %>
<%end%>
<%else%>
</br>
<b>Lo sentimos, no tienes los privilegios para ver esta parte del sitio</b>
<%end%>
